{erl_opts, [debug_info]}.
{deps, [
  cowboy,
  meck
]}.
{deps_error_on_conflict, true}.
{relx, [
  {release, {dev, "0.0.1"},
  [homeontheroute]},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true},

  {release, {prod, "0.0.1"},
    [homeontheroute]},

  {dev_mode, false},
  {include_erts, false},

  {extended_start_script, true}
]}.